@tailwind base;
@tailwind components;
@tailwind utilities;

/* Responsive adjustments */
@media (max-width: 640px) {
  .sm\:max-w-xl {
    max-width: 100%;
  }
  .sm\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .sm\:rounded-3xl {
    border-radius: 1.5rem;
  }
  .sm\:p-20 {
    padding: 1.25rem;
  }
}
